<div class="d-flex justify-content-center align-items-center">
  <div class="card p-4" style="width: 100%; max-width: 400px; margin-top: 100px; margin-bottom: 100px; ">
    <form class="needs-validation" novalidate>
      <div class="mb-3">
          <label for="cliente" class="form-label">ID do Cliente <span class="text-danger">*</span></label>
          <input type="number" class="form-control" id="cliente" [(ngModel)]="cliId" name="cliente" required>
          <div class="invalid-feedback">Por favor, insira o ID do cliente.</div>
      </div>
      <div class="mb-3">
        <label for="numero" class="form-label">Numero Conta <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="numero" [(ngModel)]="conta.numero" name="numero"
        required (keypress)="validateNumber($event)">
        <div class="invalid-feedback">Por favor, insira uma Numero válido.</div>
      </div>
      <button type="button" class="btn btn-primary" (click)="checkFormValidity()">Cadastrar Conta</button>
    </form>
  </div>
</div>

<div *ngIf="displaySuccess" class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro Realizado</h5>
        <button type="button" class="btn-close" (click)="resetForm()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Conta cadastrado com sucesso! ID: {{ conta.id}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="resetForm()">OK</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayError" class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Erro no Cadastro</h5>
        <button type="button" class="btn-close" (click)="displayError = false" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ocorreu um erro ao cadastrar a Conta. Por favor, tente novamente.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="displayError = false">OK</button>
      </div>
    </div>
  </div>
</div>

