<div class="d-flex justify-content-center align-items-center">
  <div class="card p-4" style="width: 100%; max-width: 400px; margin-top: 100px; margin-bottom: 100px; ">
    <form class="needs-validation" novalidate>
      <div class="mb-3">
        <label class="form-label">Incluir Transação</label>
      </div>

      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo de Transação <span class="text-danger">*</span></label>
        <select class="form-control" id="tipo" [(ngModel)]="transacao.tipo" name="tipo" required>
          <option value="DEBITO">Debito</option>
          <option value="CREDITO">Credito</option>
        </select>
      </div>

      <div class="mb-3">
          <label for="Conta" class="form-label">Numero Conta do Cliente <span class="text-danger">*</span></label>
          <input type="string" class="form-control" id="conta" [(ngModel)]="conta.contaNumero" name="conta"
            required (keypress)="validateNumber($event)">
          <div class="invalid-feedback">Por favor, insira o Numero da Conta do cliente.</div>
      </div>

      <div class="mb-3">
        <label for="valor" class="form-label">Valor Monetário <span class="text-danger">*</span></label>
        <input type="number" class="form-control" id="valor" [(ngModel)]="transacao.valor" name="valor"
        required (keypress)="validateNumber($event)">
        <div class="invalid-feedback">Por favor, insira uma Valor válido.</div>
      </div>

      <button type="button" class="btn btn-primary" (click)="checkFormValidity()">Cadastrar Conta</button>
    </form>
  </div>
</div>

<div *ngIf="displaySuccess" class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cadastro Realizado</h5>
        <button type="button" class="btn-close" (click)="resetForm()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ successMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="resetForm()">OK</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayError" class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Erro no Cadastro</h5>
        <button type="button" class="btn-close" (click)="displayError = false" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ errorMessage }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="displayError = false">OK</button>
      </div>
    </div>
  </div>
</div>

